<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>toys</title>
</head>
<body>

<h1 th:text = "${session.currentUser}" th:unless = "${session==null}"></h1>

<form method="post" th:action = @{/logout} ><input type="submit" value="logout"></form>

<div th:each="product:${products}">
    <p th:text = "${product.title}"></p>
    <p th:text = "${product.brand}"></p>
    <img th:src="@{/images/{image}(image=${product.imageLocation})}">

    <br>

</div>


</body>
</html>